{% extends 'reservation/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Départ</th>
                <th scope="col">Destination</th>
                <th scope="col">Prix (en Fcfa)</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <!-- <th scope="row">1</th> -->
                
                {% for liste in listeV.all %}
                    <td>{{ liste.depart}}</td>
                    <td>{{liste.arrivee}}</td>
                    <td>{{liste.prix}}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-primary btn-sm">
                            <a href="{% url 'reserver' liste.id %}" class="text-white">Réserver</a> </button>
                    </td>
                {% endfor %}

            </tr>
        </tbody>
    </table>
{% endblock %}