{% extends 'reservation/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Départ</th>
                <th scope="col">Destination</th>
                <th scope="col">Prix (en Fcfa)</th>
            </tr>
        </thead>
        <tbody>
            {% for liste in listeT.all %}
                <tr>
                    <!-- <th scope="row">1</th> -->
                
                    <td>{{ liste.depart}}</td>
                    <td>{{liste.arrivee}}</td>
                    <td>{{liste.prix}}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}